body
{
    font-family: '黑体';
}

#main-div
{
    font-family: '等线';
    justify-content: center;
}

#video-card-raw, #video-card-cut
{
    width: 44%;
}

#video-card-num-r, #video-card-num-l
{
    width: 30%;
}