#status-card
{
    width: fit-content;
    min-width: 80px;
}

#status-table
{
    width: 100%;
}

#card-title
{
    padding-bottom: 0;
}

.mdl-card
{
    margin: 10px;
}

#video_cut, #video_raw
{
    width: 100%;
}
